.main{
    margin: 0 auto;
    border: 2px solid black;
    width: 200px;
}

.input{
    width: 95%;
    color: black;
    background-color: silver;
      
}
.cbut{
    margin-top: 10px;
    color:black;
    background-color: silver;
}
.butt{
     background-color: silver;
     width: 45px;
     margin-top: 6px;
     color: black;
     
}
